#dashboard-nav > ul > li:has(a.active) {
    background-color: #341C8B;
    border-bottom: 1px solid #cccccc;
}
#dashboard-nav li:hover h6 {
    color: #ffffff;
}
#dashboard-nav li:has(a.active) h6 {
    color: #ffffff;
}

#dashboard-content {
  scrollbar-color: #ffffff #000000;
  scrollbar-width: thin;
}